.link {
  text-decoration: none;
  font-weight: 500;
  color: rgb(255, 69, 0);
  font-style: 18px;
  font-size: 16px;
  line-height: 1.87;
  margin-left: 22px;
  margin-bottom: 24px;
  padding: 18px 48px;
  background-color: rgb(0, 0, 128);
  border-radius: 15px;
  border: none;
  cursor: pointer;
}
.activeLink {
  composes: link;
  color: rgb(135, 206, 250);
}
.additionalInformationTitle {
  font-size: 28px;
  margin-left: 40px;
  margin-bottom: 20px;
  color: rgb(255, 69, 0);
}
